[core]
	autocrlf = input
	excludesfile = /home/william/.gitignore
	editor = vim
[user]
	email = moolman.william@gmail.com
	name = William Moolman
[alias]
    cb = checkout -b
	cm = commit -m
    cam = commit -a -m
    glog = log --oneline --decorate --graph
    sup = push --set-upstream origin $(git_current_branch)
    whch = whatchanged -p --abbrev-commit --pretty=medium
    nah = "!f(){ git reset --hard; git clean -df; if [ -d ".git/rebase-apply" ] || [ -d ".git/rebase-merge" ]; then git rebase --abort; fi; }; f"
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
