[core]
	autocrlf = input
	excludesfile = /home/william/.gitignore
[user]
	email = moolman.william@gmail.com
	name = William Moolman
[alias]
    cb = checkout -b
	cm = commit -m
    cam = commit -a -m
    glog = log --oneline --decorate --graph'
    sup = push --set-upstream origin $(git_current_branch)
    whch = whatchanged -p --abbrev-commit --pretty=medium
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
